[submodule "CInterpreter"]
	path = CInterpreter
	url = https://github.com/Gu1nness/CInterpreter.git
[submodule "AsmInterpreter"]
	path = AsmInterpreter
	url = https://github.com/Gu1nness/AsmInterpreter.git
